<div class="patient-container">
  <h1 class="title">Patients</h1>
  <div class="table-container">
    <!-- <div *ngIf="!patients().length">Loading patients...</div> -->

    <button class="btn btn-primary add-button" data-bs-toggle="modal" data-bs-target="#patientModal">New
      Patient</button>

    <!-- <p-table #dt2 [value]="patients()" dataKey="id" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5, 10, 25]"
      [globalFilterFields]="['name', 'patientNumber', 'socialSecurityNumber', 'identityCardNumber', 'phoneNumber']"
      [tableStyle]="{ 'min-width': '100rem' }">

      <ng-template #header>
        <tr>
          <th>
            ID
            <p-columnFilter type="text" field="id" placeholder="Search by ID" ariaLabel="Filter ID"></p-columnFilter>
          </th>
          <th>
            Name
            <p-columnFilter type="text" field="name" placeholder="Search by name"
              ariaLabel="Filter Name"></p-columnFilter>
          </th>
          <th>
            Patient Number
            <p-columnFilter type="text" field="patientNumber" placeholder="Search by patient number"
              ariaLabel="Filter Patient Number"></p-columnFilter>
          </th>
          <th>
            Social Security Number
            <p-columnFilter type="text" field="socialSecurityNumber" placeholder="Search by SSN"
              ariaLabel="Filter SSN"></p-columnFilter>
          </th>
          <th>
            Identity Card Number
            <p-columnFilter type="text" field="identityCardNumber" placeholder="Search by ID card number"
              ariaLabel="Filter ID Card"></p-columnFilter>
          </th>
          <th>
            Phone Number
            <p-columnFilter type="text" field="phoneNumber" placeholder="Search by phone number"
              ariaLabel="Filter Phone Number"></p-columnFilter>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template #body let-patient>
        <tr>
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.patientNumber }}</td>
          <td>{{ patient.socialSecurityNumber }}</td>
          <td>{{ patient.identityCardNumber }}</td>
          <td>{{ patient.phoneNumber }}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" class="p-button-warning p-button-sm"></button>
            <button pButton type="button" icon="pi pi-trash" class="p-button-danger p-button-sm"
              (click)="deleteById(patient.id)"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="7">No patients found.</td>
        </tr>
      </ng-template>
    </p-table> -->

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Patient Number</th>
          <th scope="col">Social Security Number</th>
          <th scope="col">Identity Card Number</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients()">
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.patientNumber }}</td>
          <td>{{ patient.socialSecurityNumber }}</td>
          <td>{{ patient.identityCardNumber }}</td>
          <td>{{ patient.phoneNumber }}</td>
          <td>
            <button class="btn btn-warning btn-sm" >Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteById(patient.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal for adding a new patient -->
<div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="patientModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="patientModalLabel">Add New Patient</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="newPatientForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
          <div class="form-group">
            <label for="patientNumber">Patient Number</label>
            <input type="text" class="form-control" id="patientNumber" formControlName="patientNumber">
          </div>
          <div class="form-group">
            <label for="socialSecurityNumber">Social Security Number</label>
            <input type="text" class="form-control" id="socialSecurityNumber" formControlName="socialSecurityNumber">
          </div>
          <div class="form-group">
            <label for="identityCardNumber">Identity Card Number</label>
            <input type="text" class="form-control" id="identityCardNumber" formControlName="identityCardNumber">
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="number" class="form-control" id="phoneNumber" formControlName="phoneNumber">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">Save Patient</button>
      </div>
    </div>
  </div>
</div>