<div class="patient-container">
  <h1 class="title">Patients</h1>
  <div class="table-container">
    
    <button
      class="btn btn-primary add-button"
      data-bs-toggle="modal"
      data-bs-target="#patientModal"
    >
      New Patient
    </button>

    <p-table
      #dt2
      [value]="patients()"
      dataKey="id"
      [rows]="10"
      [paginator]="true"
      [rowsPerPageOptions]="[5, 10, 25]"
      [globalFilterFields]="[
        'name',
        'patientNumber',
        'socialSecurityNumber',
        'identityCardNumber',
        'phoneNumber'
      ]"
    >
      <div class="flex">
        <p-iconfield iconPosition="left" class="ml-auto">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input
            pInputText
            type="text"
            (input)="dt2.filterGlobal($event.target, 'contains')"
            placeholder="Search keyword"
          />
        </p-iconfield>
      </div>

      <ng-template #header>
        <tr>
          <th style="width: 10%">ID</th>

          <!-- td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.patientNumber }}</td>
          <td>{{ patient.socialSecurityNumber }}</td>
          <td>{{ patient.identityCardNumber }}</td>
          <td>{{ patient.phoneNumber }}</td> -->
          <th pSortableColumn="name" style="width: 20%">
            Name <p-sortIcon field="name" />
          </th>
          <th pSortableColumn="patientNumber" style="width: 20%">
            Patient Number <p-sortIcon field="patientNumber" />
          </th>
          <th pSortableColumn="socialSecurityNumber" style="width: 20%">
            Social Security Number <p-sortIcon field="socialSecurityNumber" />
          </th>
          <th pSortableColumn="identityCardNumber" style="width: 20%">
            Identity Card Number <p-sortIcon field="identityCardNumber" />
          </th>
          <th pSortableColumn="phoneNumber" style="width: 20%">
            Phone number <p-sortIcon field="phoneNumber" />
          </th>

          <th>Actions</th>
        </tr>
      </ng-template>

      <ng-template #body let-patient>
        <tr>
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.patientNumber }}</td>
          <td>{{ patient.socialSecurityNumber }}</td>
          <td>{{ patient.identityCardNumber }}</td>
          <td>{{ patient.phoneNumber }}</td>
          <td>
            <!-- <p-button
              (click)="deleteById(patient.id)"
              label="Delete"
              icon="pi pi-trash"
            /> -->
            <button class="btn btn-danger btn-sm" (click)="deleteById(patient.id)">
              
              <i class="bi bi-trash"></i>
              Delete
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="7">No patients found.</td>
        </tr>
      </ng-template>
    </p-table>

    <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Patient Number</th>
          <th scope="col">Social Security Number</th>
          <th scope="col">Identity Card Number</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients()">
          <td>{{ patient.id }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.patientNumber }}</td>
          <td>{{ patient.socialSecurityNumber }}</td>
          <td>{{ patient.identityCardNumber }}</td>
          <td>{{ patient.phoneNumber }}</td>
          <td>
            <button class="btn btn-warning btn-sm" >Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteById(patient.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table> -->
  </div>
</div>

<!-- Modal for adding a new patient -->
<div
  class="modal fade"
  id="patientModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="patientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="patientModalLabel">Add New Patient</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="newPatientForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <label for="patientNumber">Patient Number</label>
            <input
              type="text"
              class="form-control"
              id="patientNumber"
              formControlName="patientNumber"
            />
          </div>
          <div class="form-group">
            <label for="socialSecurityNumber">Social Security Number</label>
            <input
              type="text"
              class="form-control"
              id="socialSecurityNumber"
              formControlName="socialSecurityNumber"
            />
          </div>
          <div class="form-group">
            <label for="identityCardNumber">Identity Card Number</label>
            <input
              type="text"
              class="form-control"
              id="identityCardNumber"
              formControlName="identityCardNumber"
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="number"
              class="form-control"
              id="phoneNumber"
              formControlName="phoneNumber"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="save()">
          Save Patient
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #standardTpl> I'm a standard toast </ng-template>
