<div class="container mt-5">
  <h1 class="d-flex justify-content-center">Patients</h1>
  <div class="table-container">
    <p-toast />

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-primary add-button"
        data-bs-toggle="modal"
        data-bs-target="#patientModal"
      >
        New Patient
      </button>
    </div>

    <p-table
      [value]="patients()"
      dataKey="id"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="[
        'name',
        'patientNumber',
        'socialSecurityNumber',
        'identityCardNumber',
        'phoneNumber'
      ]"
    >
      <ng-template #header>
        <tr>
          <th pSortableColumn="name" style="width: 20%">
            Name <p-sortIcon field="name" />
          </th>
          <th pSortableColumn="patientNumber" style="width: 20%">
            Patient Number <p-sortIcon field="patientNumber" />
          </th>
          <th pSortableColumn="socialSecurityNumber" style="width: 20%">
            Social Security Number <p-sortIcon field="socialSecurityNumber" />
          </th>
          <th pSortableColumn="identityCardNumber" style="width: 20%">
            Identity Card Number <p-sortIcon field="identityCardNumber" />
          </th>
          <th pSortableColumn="phoneNumber" style="width: 20%">
            Phone number <p-sortIcon field="phoneNumber" />
          </th>

          <th></th>
        </tr>
      </ng-template>

      <ng-template #body let-patient>
        <tr>
          <td>{{ patient.name }}</td>
          <td>{{ patient.patientNumber }}</td>
          <td>{{ patient.socialSecurityNumber }}</td>
          <td>{{ patient.identityCardNumber }}</td>
          <td>{{ patient.phoneNumber }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              (click)="deleteById(patient.id)"
              title="Delete this patient"
            />
          </td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="7">No patients found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Modal for adding a new patient -->
<div
  class="modal fade"
  id="patientModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="patientModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="patientModalLabel">Add New Patient</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="newPatientForm" (keydown.enter)="save()">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <label for="patientNumber">Patient Number</label>
            <input
              type="text"
              class="form-control"
              id="patientNumber"
              formControlName="patientNumber"
            />
          </div>
          <div class="form-group">
            <label for="socialSecurityNumber">Social Security Number</label>
            <input
              type="text"
              class="form-control"
              id="socialSecurityNumber"
              formControlName="socialSecurityNumber"
            />
          </div>
          <div class="form-group">
            <label for="identityCardNumber">Identity Card Number</label>
            <input
              type="text"
              class="form-control"
              id="identityCardNumber"
              formControlName="identityCardNumber"
            />
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="number"
              class="form-control"
              id="phoneNumber"
              formControlName="phoneNumber"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p-button
          label="Save Patient"
          (click)="save()"
          [disabled]="newPatientForm.invalid"
        />
      </div>
    </div>
  </div>
</div>
