<div class="container mt-5">
  <h1 class="d-flex justify-content-center">Appointments</h1>
  <div class="table-container">
    <p-toast />
    <p-confirmdialog
      header="Delete Appointment"
      icon="pi pi-exclamation-triangle"
      [acceptLabel]="'Yes'"
      [rejectLabel]="'No'"
      [acceptIcon]="'pi pi-trash'"
      [rejectIcon]="'pi pi-times'"
      [acceptButtonStyleClass]="'p-button-danger'"
      [rejectButtonStyleClass]="'p-button-secondary'"
      [acceptVisible]="true"
      [rejectVisible]="true"
      [dismissableMask]="true"
      [closeOnEscape]="true"
    />

    <div class="d-flex justify-content-end">
      <p-button
        label="New Appointment"
        severity="info"
        data-bs-toggle="modal"
        data-bs-target="#appointmentModal"
        icon="pi pi-plus"
      />
    </div>

    <p-table
      [value]="appointments()"
      dataKey="id"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="[
        'patientNumber',
        'appointmentDate',
        'appointmentTime'
      ]"
    >
      <ng-template #header>
        <tr>
          <th pSortableColumn="patientNumber" style="width: 30%">
            Patient Number <p-sortIcon field="patientNumber" />
          </th>
          <th pSortableColumn="appointmentDate" style="width: 30%">
            Appointment Date <p-sortIcon field="appointmentDate" />
          </th>

          <th style="width: 10%">Actions</th>
        </tr>
      </ng-template>

      <ng-template #body let-appointment>
        <tr>
          <td>{{ appointment.patient.name }}</td>
          <td>{{ appointment.dateTime }}</td>
          <td>
            <p-button
              icon="pi pi-trash"
              [rounded]="true"
              severity="danger"
              (click)="deleteById(appointment.id)"
              title="Delete this appointment"
            />
          </td>
        </tr>
      </ng-template>

      <ng-template #emptymessage>
        <tr>
          <td colspan="4">No appointments found.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Modal for adding a new appointment -->
<div
  class="modal fade"
  id="appointmentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="appointmentModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentModalLabel">
          Add New Appointment
        </h5>
      </div>

      <div class="modal-body">
        <form [formGroup]="newAppointmentForm" (keydown.enter)="save()">
          <div class="form-group">
            <label for="patient">Patient</label>
            <select
              class="form-control"
              id="patient"
              formControlName="patientId"
            >
              <option value="" disabled selected>Select Patient</option>
              <option *ngFor="let patient of patients()" [value]="patient.id">
                {{ patient.name }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="dateTime">Appointment Date : </label>
            <p-datepicker
              inputId="dateTime"
              formControlName="dateTime"
              [showTime]="true"
              [hourFormat]="'24'"
              [showButtonBar]="true"
              showIcon="pi pi-calendar"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p-button
          label="Save Appointment"
          (click)="save()"
          [disabled]="newAppointmentForm.invalid"
          icon="pi pi-save"
          severity="info"
        />
      </div>
    </div>
  </div>
</div>
