.patient-container {
    max-width: 80%;
    margin: auto;
    padding: 20px;
  
    .title {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 20px;
      font-weight: bold;
    }
  
    .table-container {
      .add-button {
        margin-bottom: 15px;
      }
  
      table {
        width: 100%;
        text-align: center;
  
        th {
          background-color: #007bff;
          color: white;
        }
  
        td {
          vertical-align: middle;
        }
  
        .btn-sm {
          margin: 0 5px;
        }
      }
    }
  }
  